/* Header */

.encabezado {
    background-color: #002B5B;

}

.logo{
    margin-right: 10%;
    margin-left: 5%;
}

.escalofrio {
    width: 70%;

}

.srch_b {
    width: 60%;
}

.icono {
    color: white;
}

.hme_icn {
    padding-left: 35%;
}

.lst1 {
    padding-right: 60%;
}

/* content */

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }


/* Footer */

.footer {
    text-align: center;
    background-color: #292b2c;
    margin: auto;
}

.derechos {
    color: white;
}

.social-icon {
    margin: 20px 10px;
    text-align: center;
    color: white;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
